$black: #000;
$black-0 : rgba(0, 0, 0, 0);
$black-005: rgba(0, 0, 0, 0.05);
$black-01 : rgba(0, 0, 0, .1);
$black-15: rgba(0, 0, 0, 0.15);
$black-20: rgba(0, 0, 0, 0.2);
$black-80 : rgba(0, 0, 0, 0.8);
$grey-dark: #777;
$grey: #ccc;
$light: #e6e6e6;
$white: #fff;
$lighter : #eaeded;
$light-shadow: #ddd;
$light-hover: #eee;
$light-color : #cad2d3;
$blue: rgb(0, 120, 231);